/* Write your CSS here */
.header-container {
  background-color: #cbd5e1;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: bold;
  color: #475569;
}
